<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
  </head>
  <body style="padding: 30px">
    
    <div class="b-wrap">
      <!-- <%- include('component/gnb.ejs') %> -->
      <%- include('component/searchbarMain.ejs') %>

      <div style="height: 100px;"></div>
    </div>

  </body>
</html>
