<!DOCTYPE html>
<html lang="ko_KR">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css'/>
  </head>
  <body>
    
    <div class="b-wrap b-wrap--index">
      <%- include('component/gnb.ejs') %>
      <%- include('component/menu.ejs') %>

      <div class="b-container">
        <div class="index-logo">
          <div id="logo">
            <img src="/images/leesin.png">
          </div>
        </div>
        <%- include('component/searchbarMain.ejs') %>
      
      </div>


      <div style="height: 100px;"></div>
    </div>
    
    <script src="/javascripts/common.js"></script>
    <script>
      common.documentReady(()=>{
        let searchInput = document.querySelector("form.summoner-search-form input[name=userName]"),
          container = document.querySelector(".summoner-search-extra .autoComplete");
        
        let clear = () => {
          container.style.display = "none";

          let nodes = document.querySelectorAll(".summoner-search-extra .autoComplete > div");
          for(let i = 0; i < nodes.length; i++) {
            nodes[i].remove();
          }
        }

        searchInput.addEventListener("keyup", (event) => {
          let name = searchInput.value;
          
          if(name === "") {
            clear();
          }

          if(event.code !== "Enter" && name) {
            let url = `/summoner/ajax/autocomplete/name=${name}`;
            fetch(url, {
              method: 'get',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
            })
            .then((res) => {
              return res.json();
            })
            .then((json) => {
              let datas = json.data;
              
              clear();

              if(datas.length > 0) {
                container.style.display = "block";

                let tagString = "";
                datas.forEach(data => {
                  tagString += data.tag;
                });
                container.insertAdjacentHTML("afterbegin", tagString);
              }
            })
            .catch((err) => {
              console.error(err);
            });
          }
        });
      });
    </script>
  </body>
</html>
