html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html{background:#eaeaea;}
body{margin:0;}
html,body{height:100%;}
h1,h2,h3,h4,h5,h6{margin:0;}
dl,dt,dd,ol,ul,li{list-style:none;margin:0;padding:0;}
small,div,p,span,button{font-family:Helvetica,"Malgun Gothic","Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;}html:lang(en_US) small,html:lang(en_US) div,html:lang(en_US) p,html:lang(en_US) span,html:lang(en_US) button{font-family:"Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;}

.b-wrap{min-width:1080px;min-height:100%;position:relative;overflow:hidden;}
.b-wrap--index{background:#5383e8;}
.b-wrap .gnb .lolgg-header{background-color:#5a5ed2;position:sticky;top:0;z-index:100;}
.b-wrap .gnb .lolgg-header__gnb{display:flex;flex-direction:row;flex-wrap:nowrap;position:relative;box-sizing:border-box;height:40px;padding-left:98px;background-color:#232f46;}
.b-wrap .gnb .lolgg-header__logo{position:absolute;top:0;left:0;width:98px;background-color:#5383e8;}
.b-wrap .gnb .lolgg-header__logo-anchor{display:block;padding:12px 0 12px;color:#FFFFFF;font-size:16px;text-align:center;line-height:15px;width:100%;height:16px;text-decoration:none;}
.b-menu{background: #5383e8;height:48px;border-bottom: 1px solid #4171d6;box-sizing: border-box;}
.b-menu a{text-decoration:none;outline:none;}
.b-menu .gnb-list-item__search{display:flex;height:32px;background-color:#FFF;border-radius:4px;width:340px;margin-top:8px;margin-left:auto;}
.b-menu .gnb-list-item__select{position:relative;display:flex;align-items:center;background-color:#ecf2ff;color:#4171d6;font-size:12px;padding:0 12px;border-radius:4px 0 0 4px;cursor:none;}
.gnb-list-item__title{margin-right:16px;}
.gnb-list-item__title::after{content:"";position:absolute;right:16px;top:50%;margin-top:-2px;border-top:4px solid #5383e8;border-left:4px solid transparent;border-right:4px solid transparent;}
.gnb-list-item__search-form{flex:1;position:relative;}
.gnb-list-item__text-input{width:100%;border:none;background:none;padding:9px 42px 8px 14px;font-size:12px;line-height:15px;color:#727272;outline:none;box-sizing:border-box;}
.gnb-list-item__submit{position:absolute;top:0;right:0;height:32px;width:54px;background:none;border:none;cursor:pointer;color:#41B5FE;font-size:18px;}

.b-container{position:relative;min-height:700px;}

html:lang(ko_KR) .menu__item{letter-spacing:-0.5px;}
.menu{max-width:1300px;height:48px;margin:0 auto;display:flex;}
.menu__item{position:relative;margin-left:24px;height:100%;display:flex;line-height:19px;font-size:15px;box-sizing:border-box;}
.menu__item:first-child{margin-left:0;}
.menu__item>a{color: #b3cdff;display:flex;align-items:center;padding:13px 0;border-bottom:3px solid transparent;}
.menu__item--active>a, .menu__item:hover>a{color:#FFFFFF;border-bottom-color:#FFFFFF;}
.menu__item--disable:hover>a{pointer-events:none;cursor:default;color:#b3cdff;border-bottom-color:transparent;}

.index-logo{padding:32px 0px 24px;}
.index-logo img{display:block;max-height:250px;margin:0 auto;}

.summoner-search-form{position:relative;width:624px;margin:0 auto;border-radius:2px;background-color:white}
.summoner-search-form__text-input{display:block;width:100%;padding:15px 150px 18px 17px;border:none;line-height:17px;font-size: 14px;color: #9b9b9b;box-sizing: border-box;outline: none;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);}
.summoner-search-form__submit{position:absolute;top:0;right:0;margin:10px 10px 0 0;height:30px;padding:0 10px;border:none;cursor:pointer; color: white; background-color: #00b2ff}

.summoner-layout > .header{width:1000px;margin:0 auto;padding:20px 0 0 0;}

.summoner-info__face{display:inline-block;width:100px;padding-left:30px;vertical-align:top;}
.summoner-info__face > .profile-icon{position:relative;}
.profile-icon__border-image{position:absolute;left:-10px;top:-10px;width:120px;height:120px;background-repeat:no-repeat;}
.profile-icon__image{display:block;width:100px;height:100px;}
.profile-icon__level{background-image:url(../../images/summoner/bg-levelbox.png);
  position:absolute;top:100%;left:50%;margin-top:-14px;margin-left:-22px;width:44px;height:24px;padding-top:3px;text-align:center;box-sizing:border-box;color:#eabd56;font-size:14px;}

.summoner-info__profile{position:relative;display:inline-block;height:100px;margin:0 25px 0 25px;vertical-align:top;}
.summoner-info__profile .profile-info__name{color:#242929;font-size:20px;font-weight:bold;margin-right:4px;vertical-align:top;}

.summoner-info__profile .profile-buttons{position:absolute;left:0;right:0;bottom:0;margin:15px 0 -6px;font-size:0;white-space: nowrap;}
.profile-buttons .profile-button__button{margin:0 6px 6px 0;padding:11px 14px 10px;border-radius:2px;font-size:14px;cursor: pointer;}
.profile-buttons .profile-button__button.profile-button__button--blue{border:1px solid #1a78ae; background-color:#1f8ecd;color:#f2f2f2;}

.summoner-layout .tab-menu{border-bottom:1px solid #c6cbcb;margin-top:25px;}
.summoner-layout .menu-list{width:1000px;height:40px;margin:0 auto;padding:0;font-size:0;}
.menu-list__item{display:inline-block;margin:0 -1px 0 0;padding:0;}
.menu-list__item > a{display:block;min-width:70px;height:39px;border:1px solid #c6cbcb;padding:0 6px;background-color:#f2f2f2;color:#555e5e;font-size:13px;line-height:40px;text-decoration:none;text-align:center;}
.menu-list__item.menu-list__item--active > a{border-bottom:1px solid #e8eaea;background-color:#e8eaea;color:#141717;}
.menu-list__item:hover > a{background-color:#e8eaea;color:#242929;}
.menu-list__item.menu-list__item--disable:hover>a{pointer-events:none;cursor:default;background-color:#f2f2f2;color:#555e5e;}

.content-wrap .box{border: 1px solid #cdd2d2;box-shadow: 0 1px #dcdfdf;background: #f2f2f2;border-radius:2px;box-sizing:border-box;}
.summoner-layout-summary{width:1000px;min-height:500px;margin:0 auto;font-size:0}
.summoner-layout-summary .side-content{display:inline-block;width:300px;}
.side-content__tier{margin-top:10px;font-size:12px;display:table;width:100%;}
.emblem{width:120px;height:124px;text-align:center;display:table-cell;vertical-align:middle;}
.emblem .emblem-box__img{width:104px;height:104px;margin:-5px 0 -10px 0;}
.emblem--sub{height: 100px;}
.emblem--sub .emblem-box__img{width:64px;height:64px;margin:-5px 0 -10px 0;}
.tier-rank-info{display:table-cell;vertical-align:middle;}
.tier-rank-info .tier-rank-info__rank-type{font-size:12px;color:#879292}
.tier-rank-info .tier-rank-info__tier-rank{font-size:15px;font-weight:bold;color:#1f8ecd}
.tier-rank-info .tier-rank-info__tier-info{color:#879292}
.tier-rank-info .tier-rank-info__tier-info .lp{font-weight:bold;color:#555e5e}
.tier-rank-info .tier-rank-info__win-rate{color:#879292}

.main-content{display:inline-block;width:690px;margin-top:10px;margin-left:10px;font-size:12px;vertical-align:top;}
.main-content >.navigation{position:relative;border-bottom:1px solid #cdd2d2;height:35px; overflow: hidden;}
.navigation > .list{display:block;font-size:0;padding-left:10px;}
.navigation .list__item{font-size:12px;display:inline-block;height:32px;margin:0 10px;vertical-align:top;}
.navigation .list__item--active{border-bottom:2px solid #1f8ecd;}
.navigation .list__item-link{color:#555e5e;font-size:12px;line-height:36px;text-decoration:none;}
.navigation .list__item-link:hover{color:#242929}
.navigation .list__item.list__item--active > a{color:#1f8ecd;font-weight:bold;}
.navigation.box{box-shadow:none;}
.list__item-queue-select{-webkit-appearance: none;-moz-appearance: none;text-indent: 1px;text-overflow:'';border:none;background:transparent;font-size:12px;color:#555e5e;cursor:pointer;outline:none;margin-top:9px;padding-bottom:4px;}
.list__item-queue-select:hover{color:#242929}
.average-stats{border:1px solid #cdd2d2;border-top:0;background-color:#EDEDED;height:155px;box-shadow: 0 1px #dcdfdf;display:flex;}
.average-stats .match{display:inline-block;width:273px;font-size:0;}
.average-stats .match__stats{padding:16px 0 14px 20px;font-size:12px;color:#666;height:14px;}
.average-stats .match__graph{display:inline-block;width:90px;height:87px;padding:0 0 24px 24px;vertical-align:top;}
.average-stats .match__graph > div{background: #FAFAFA;width:90px;height:90px;}
.average-stats .match__KDA{display:inline-block;width:155px;text-align:center;padding-top:18px;font-size:12px;}
.average-stats .match__KDA .KDARatio{font-size:16px;margin-top:7px;line-height: 19px;
}